#basic-summoner-info {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-left: 20%;
    margin-top: 3%;

    /* Container border */
    border: 3px solid black;
}


.div-text-next-to-image {
    margin-top: 15%;
    margin-left: 10px;
    align-content: center;
}

#live_game_data {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 100px;

    /* Container border */
    border: 3px solid black;
}

#team1-top {
    display: grid;
    grid-template-columns: 250px auto;
    margin-left: 15%;
}

#team1-mid {
    display: grid;
    grid-template-columns: 250px auto;
    margin-left: 15%;
}

#team1-jungle {
    display: grid;
    grid-template-columns: 250px auto;
    margin-left: 15%;
}

#team1-support {
    display: grid;
    grid-template-columns: 250px auto;
    margin-left: 15%;
}

#team1-adc {
    display: grid;
    grid-template-columns: 250px auto;
    margin-left: 15%;
}

#team2-top {
    display: grid;
    grid-template-columns: auto 250px;
    margin-right: 15%;
    text-align: right;
}

#team2-mid {
    display: grid;
    grid-template-columns: auto 250px;
    margin-right: 15%;
    text-align: right;
}

#team2-jungle {
    display: grid;
    grid-template-columns: auto 250px;
    margin-right: 15%;
    text-align: right;
}

#team2-support {
    display: grid;
    grid-template-columns: auto 250px;
    margin-right: 15%;
    text-align: right;
}

#team2-adc {
    display: grid;
    grid-template-columns: auto 250px;
    margin-right: 15%;
    text-align: right;
}