#basic-summoner-info {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-left: 20%;
    margin-top: 3%;

    /* Container border */
    border: 3px solid black;
}

#name-level {
    margin-top: 15%;
    margin-left: 10px;
    align-content: center;
}